* {
  margin: 0;
  box-sizing: border-box;
}
.subject {
  width: 80%;
  margin: 50px auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100v;
}
.subject-1 {
  padding: 40px;
  box-shadow: 0 0 15px #0000006b;
  border-radius: 6px;
}

.subject-2 {
  padding: 40px;
  box-shadow: 0 0 15px #0000006b;
  border-radius: 6px;
}

.subject-3 {
  padding: 40px;
  box-shadow: 0 0 15px #0000006b;
  border-radius: 6px;
}
p {
  font-size: 40px;
  text-align: center;
}
h1 {
  font-size: 70px;
}
p a {
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: rgb(84, 1, 117);
  border: 2px solid;
  margin-bottom: 30px;
  width: 70%;
  text-align: center;
  background: linear-gradient(rgb(72, 255, 0), rgb(81, 212, 226));
}
h1 {
  margin-bottom: 45px;
}
