body {
  margin: 0;
  margin-bottom: 50px;
  font-family: Arial, sans-serif;
  display: flex;
}

.aside {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  margin-top: 150px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 150px;
}

label {
  margin-bottom: 10px;
}

.radio {
  margin-bottom: 15px;
}

/* Apply some styling to radio buttons for better visibility */
input[type="radio"] {
  margin-right: 5px;
}

/* Add some spacing between questions */
@media screen and (max-width: 794px) {
  .aside {
    display: none;
  }
}

.Header {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 20px 5%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
a {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  color: rgb(46, 9, 9);
  font-weight: 700;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
  padding: 0 10px;
}
a:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width 0.3s;
}

a:hover {
  color: rgb(21, 21, 255);
}

a:hover:after {
  width: 100%;
}

.togle {
  display: none;
}

@media screen and (max-width: 810px) {
  .subject {
    flex-direction: column;
    max-width: 100%;
  }

  h1 {
    font-size: medium;
    text-align: center;
  }
  .Header {
    padding: 20px 5%;
  }

  a {
    margin-left: 5px;
  }

  .navbar {
    display: none;
  }

  .navbar-toggle {
    display: block;
    text-align: right;
    margin-right: 10px;
  }

  .navbar-toggle a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(46, 9, 9);
    font-weight: 700;
  }

  .togle {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .content h1 {
    font-size: 40px;
  }

  .content p {
    font-size: 16px;
  }
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(145, 113, 86);
  text-align: center;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  margin-top: 300px;
}

.footer-content {
  width: 100%;
  height: 100%;
}
